*{

    background-color: bisque;
}

.title-01 {

    background-color: blue;
}

    
.title-02 {
background-color: aquamarine;

}

.title-03{

    background-color: antiquewhite;
}
.para-01{

    background-color: yellow;

}
#heading-1{

    background-color: brown;
}

#heading-3{
    background-color: floralwhite;
}



